<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><% title %></title>
  <!-- add favicon -->
  <link rel="icon" type="image/png" href="/resources/images/favicon.ico" />
  <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/resources/css/style.css" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
  <div class="main">
    <script>
      const artikel = "<%= JSON.stringify(artikel) %>";
    </script>
    <!-- nav -->
    <nav class="navbar banner-section  bg-body-light pb-3" style="border-bottom: 1px solid rgb(240, 237, 237)">
      <div class="container-fluid mx-5">
        <a class="navbar-brand" href="/">
          <img src="/resources/images/logo.png" width="250" height="50" />
        </a>

        <!-- Your Search Form -->
        <form class="group" role="search">
          <input type="text" placeholder="Cari artikel" name="text" id="searchInput" class="input-search me-5" data-bs-toggle="modal" data-bs-target="#searchModal" />
          <svg fill="#000000" width="20px" height="20px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
            <path d="M790.588 1468.235c-373.722 0-677.647-303.924-677.647-677.647 0-373.722 303.925-677.647 677.647-677.647 373.723 0 677.647 303.925 677.647 677.647 0 373.723-303.924 677.647-677.647 677.647Zm596.781-160.715c120.396-138.692 193.807-319.285 193.807-516.932C1581.176 354.748 1226.428 0 790.588 0S0 354.748 0 790.588s354.748 790.588 790.588 790.588c197.647 0 378.24-73.411 516.932-193.807l516.028 516.142 79.963-79.963-516.142-516.028Z" fill-rule="evenodd"></path>
          </svg>
          <a href="" class="me-4 fs-3">
            <i class="fa-regular fa-bell text-black"></i>
          </a>
          <a href="/profile/<%= first_name %>/<%= id %>">
            <img src="/resources/images/hero.png" width="50" height="50" class="rounded" alt="" />
          </a>
        </form>

        <!-- search Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <input type="text" class="form-control mb-3" id="searchInputModal" placeholder="Ketik disini...">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="modalBody">
                <!-- Added id for modal body -->
                <!-- Article list will be rendered here -->
              </div>
              <div class="text-center">
                <!-- Animasi Loading -->
                <div class="spinner-container d-none" id="loadingSpinner">
                  <div class="spinner-border text-1c0c41" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
              <a id="loadMoreBtn" class="btn btn-primary d-none" href="#">Lihat Selengkapnya</a>
            </div>
          </div>
        </div>

        <script>
          // Fungsi debounce
          function debounce(func, delay) {
            let timer;
            return function() {
              const context = this;
              const args = arguments;
              clearTimeout(timer);
              timer = setTimeout(() => {
                func.apply(context, args);
              }, delay);
            };
          }

          document.addEventListener("DOMContentLoaded", function() {
            const searchInputModal = document.getElementById("searchInputModal");
            // const loading = document.getElementById("loading");
            const loadMoreBtn = document.getElementById("loadMoreBtn");
            const searchModal = new bootstrap.Modal(document.getElementById("searchModal"));
            const modalBody = document.getElementById("modalBody");

            let page = 1;
            const articlesPerPage = 3;

            // Fungsi handleSearch yang dibungkus dengan debounce
            const delayedSearch = debounce(handleSearch, 500); // Waktu jeda 500ms

            function handleSearch() {
              // Membersihkan modal body sebelum mengirimkan data ke AJAX
              modalBody.innerHTML = '';
              loadMoreBtn.classList.add("d-none");
              const searchTerm = searchInputModal.value.trim().toLowerCase();
              console.log("Search term:", searchTerm);

              if (searchTerm === "") {
                // Handle empty search term if needed
                return;
              }

              // Show loading spinner
              // loading.classList.remove("d-none");
              $("#loadingSpinner").removeClass("d-none");
              fetch(`https://insight-hub-api.vercel.app/api/v1/search-artikel/search?judul=${searchTerm}`)
                .then(response => response.json())
                .then(data => {
                  console.log('Data fetched:', data);
                  if (data && data.length > 0) {
                    renderArticles(data);
                    // Show "Lihat Selengkapnya" button after the first search
                    if (data.length > articlesPerPage) {
                      loadMoreBtn.setAttribute("href", `/artikel/search-artikel/search?judul=${searchTerm}`);
                      loadMoreBtn.classList.remove("d-none");
                    } else {
                      loadMoreBtn.classList.add("d-none");
                    }
                  } else {
                    // Jika tidak ada hasil, tampilkan pesan di modal body
                    modalBody.innerHTML = "<p>No articles found.</p>";
                    // Sembunyikan tombol "Lihat Selengkapnya" jika tidak ada hasil
                    loadMoreBtn.classList.add("d-none");
                  }
                })
                .catch(error => {
                  console.error('Error fetching articles:', error);
                  // Handle error
                  // Misalnya, tampilkan pesan kesalahan di modal body
                  modalBody.innerHTML = "<p>Error fetching articles. Please try again later.</p>";
                  // Sembunyikan tombol "Lihat Selengkapnya" jika terjadi kesalahan
                  loadMoreBtn.classList.add("d-none");
                })
                .finally(() => {
                  // Hide loading spinner
                  // loading.classList.add("d-none");
                  $("#loadingSpinner").addClass("d-none");
                });
            }

            function renderArticles(articles) {
              // Clear modal body before rendering new articles
              modalBody.innerHTML = '';

              if (!articles || articles.length === 0) {
                modalBody.innerHTML = "<p>No articles found.</p>";
              } else {
                // Urutkan artikel berdasarkan tanggal pembuatan (createdAt) dari yang terbaru ke yang terlama
                articles.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt));

                articles.slice(0, articlesPerPage).forEach(article => {
                  const card = document.createElement('div');
                  card.classList.add('card', 'mb-3');
                  card.style.cursor = "pointer";

                  const createdAt = new Date(article.createdAt).toLocaleDateString();
                  const updatedAt = new Date(article.updatedAt).toLocaleDateString();

                  card.innerHTML = `
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="${article.gambar_artikel}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">${article.judul}</h5>
                          <p class="card-text">${article.deskripsi}</p>
                          <div class="row justify-content-end align-items-end">
                            <div class="col-auto">
                              <p class="card-text">
                                <small class="text-muted">Created at ${createdAt}</small><br />
                                <small class="text-muted">Last updated ${updatedAt}</small>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  `;
                  // Add event listener to redirect to article link when card is clicked
                  card.addEventListener('click', function() {
                    window.location.href = `/artikel/${article.id}/${encodeURIComponent(article.judul)}`;
                  });
                  modalBody.appendChild(card);
                });
              }
            }

            // Update search on input change with debounce
            searchInputModal.addEventListener("input", delayedSearch);

            // Show modal on input click
            searchInputModal.addEventListener("click", function() {
              searchModal.show();
            });

            // Redirect on Enter key press
            searchInputModal.addEventListener("keyup", function(event) {
              if (event.key === 'Enter') {
                window.location.href = `/artikel/search-artikel/search?judul=${encodeURIComponent(searchInputModal.value.trim())}`;
              }
            });

            // Initially hide "Lihat Selengkapnya" button
            loadMoreBtn.classList.add("d-none");
          });
        </script>



      </div>
    </nav>

    <section class="highlight">
      <div class="container">
        <div class="row mt-5">
          <div class="col-8">
            <p class="fs-2 fw-bold">Highlight</p>
            <div>
              <a href="/artikel/<%= first_name %>/<%= id %>/add-artikel" class="text-1c0c41" style="
        border-bottom: 2px solid #1c0c41; /* transparan saat normal */
        width: fit-content;
        padding-bottom: 5px;
        display: inline-block; 
        text-decoration: none;
        position: relative;
    ">
                <i class="fa-solid fa-pencil mt-4" style="font-size: 1.5rem; margin-right: 5px;"></i>
                <!-- Menambahkan sedikit ruang di sekitar ikon -->
                Tulis Karyamu
                <!-- Pseudo-element untuk membuat efek animasi -->
                <span class="border-animation"></span>

              </a>
            </div>

            <hr class="mt-5" />
            <%
              // Mengurutkan artikel berdasarkan tanggal pembuatan (createdAt) dari yang paling baru
              artikel.data.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt));

              artikel.data.forEach(article => {
            %>
            <a href="/artikel/<%= article.id %>/<%= encodeURIComponent(article.judul) %>" class="text-decoration-none text-reset">
              <div class="card mb-3 border-0" data-artikelid="<%= article.id %>" data-kategoriId="<%= article.kategoriId %>">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="<%= article.gambar_artikel %>" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-9">
                    <div class="card-body">
                      <h5 class="card-title"><%= article.judul %></h5>
                      <!-- Teks dihapus dari tag HTML menggunakan JavaScript di sisi server -->
                      <p class="card-text"><%= article.deskripsi.replace(/(<([^>]+)>)/gi, '') %></p>
                      <div class="row justify-content-end align-items-end">
                        <div class="col-auto">
                          <p class="card-text">
                            <small class="text-body-secondary">Created at <%= new Date(article.createdAt).toLocaleDateString() %></small>
                          </p>
                        </div>
                        <div class="col-auto">
                          <p class="card-text">
                            <small class="text-body-secondary">Last updated <%= new Date(article.updatedAt).toLocaleDateString() %></small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <% }); %>


          </div>
          <div class="col-4">
            <div class="profile ms-5">
              <div class="row">
                <div class="col-2">
                  <img src="/resources/images/hero.png" width="50" height="50" class="rounded" alt="" />
                </div>
                <div class="col-8">
                  <p style="margin-top: 0 !important;margin-bottom: 0 !important;">
                    <%= first_name %>
                  </p>
                  <p>
                    <%= status %>
                  </p>
                </div>
                <hr />
              </div>
            </div>
            <h2 class="ms-5 fs-4">Topik Rekomendasi</h2>
            <div class="badge-custom">
              <div class="row">
                <div class="col-6">
                  <% const halfCount=Math.ceil(kategori.length / 2); %>
                  <% kategori.forEach((item, index)=> { %>
                  <% if (index < halfCount) { %>
                  <button class="badge-button fs-6 fw-medium badge rounded-pill text-bg-light py-2 px-4 mt-4 ms-5 badge-fixed-width" data-kategoriid="<%= item.id %>">
                    <%= item.nama %>
                  </button>
                  <% } %>
                  <% }); %>
                </div>
                <div class="col-6">
                  <% kategori.forEach((item, index)=> { %>
                  <% if (index>= halfCount) { %>
                  <button class="badge-button fs-6 fw-medium badge rounded-pill text-bg-light py-2 px-4 ms-4 mt-4 badge-fixed-width" data-kategoriid="<%= item.id %>">
                    <%= item.nama %>
                  </button>
                  <% } %>
                  <% }); %>
                </div>
              </div>
              <hr class="ms-5" />
              <p class="text-center">Created by Kelompok 3 KKP Batch 4</p>
            </div>


            <script>
              document.addEventListener("DOMContentLoaded", function() {
                const buttons = document.querySelectorAll('.badge-button');
                const articles = document.querySelectorAll('.card');

                buttons.forEach(button => {
                  button.addEventListener('click', function() {
                    const kategoriId = this.dataset.kategoriid;

                    articles.forEach(article => {
                      const artikelKategoriId = article.dataset.kategoriid.split(',').map(id => id.trim());

                      if (artikelKategoriId.includes(kategoriId)) {
                        article.style.display = 'block'; // Tampilkan artikel yang sesuai
                      } else {
                        article.style.display = 'none'; // Sembunyikan artikel yang tidak sesuai
                      }
                    });
                  });
                });
              });
            </script>
          </div>
        </div>
      </div>
    </section>
  </div>


  <script src="/resources/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/resources/bootstrap/js/bootstrap.min.js"></script>

  <!-- jQuery (diperlukan oleh Bootstrap) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Popper.js (diperlukan oleh Bootstrap) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin Boostrap select Picker -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>


  <script src="/resources/js/main.js"></script>
</body>

</html>