<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <!-- add favicon -->
  <link rel="icon" type="image/png" href="/resources/images/favicon.ico" />
  <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/resources/css/style.css" />

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- selecet picker -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css" />
</head>

<body>
  <script>
    console.log(`artikel : , <%= JSON.stringify(artikel) %>`);
  </script>
  <div class="main">
    <!-- nav -->
    <div class="container-fluid px-5">
      <div class="mt-5">
        <button class="btn btn-light mb-3" onclick="history.back()">
          <i class="fa-solid fa-circle-arrow-left fs-2 icon-back"></i> <!-- Menggunakan fa-lg untuk memperbesar ikon -->
          <!-- Menggunakan ms-2 untuk memberikan jarak dan fs-5 untuk memperbesar teks -->
        </button>
        <div id="viewArtikelAlert" class="alert alert-danger text-center d-none" role="alert">
          <!-- Teks pesan kesalahan akan ditampilkan di sini -->
        </div>
        <div class="row">
          <div class="col-8">
            <script>
              // Fungsi untuk menghapus tag HTML
              function stripHTML(html) {
                var div = document.createElement("div");
                div.innerHTML = html;
                return div.textContent || div.innerText || "";
              }

              // Menggunakan fungsi tersebut pada deskripsi artikel
              window.onload = function() {
                var deskripsiElement = document.getElementById('deskripsi-artikel');
                deskripsiElement.innerHTML = stripHTML(deskripsiElement.innerHTML);
              };
            </script>

            <section class="artikel-left-side">
              <h3 class="mt-2" style="color: var(--color-primary)">
                <%= artikel[0].judul %>
              </h3>
              <div class="img-artikel text-center mt-5">
                <img class="img-fluid rounded" src="<%= artikel[0].gambar_artikel %>" alt="<%= artikel[0].judul %>" width="50%" height="200" />
              </div>
              <p class="mt-5" id="deskripsi-artikel"><%= artikel[0].deskripsi %></p>
              <p class="mt-5">
                <a href="<%= artikel[0].link %>" target="_blank" rel="noopener noreferrer" style="color: var(--color-primary); text-decoration: none;">
                  Referensi Artikel
                </a>
              </p>
            </section>

          </div>
          <div class="col-4">
            <section class="artikel-left-side">
              <div class="row">
                <div class="col-2">
                  <img id="profileImage" src="<%= profile_picture || '/resources/images/user.jpg' %>" alt="Profile Image" width="50" height="50" class="rounded" />
                </div>
                <div class="col-8">
                  <p><%= first_name %></p>
                  <p><%= status %></p>
                </div>
                <hr />
              </div>
            </section>
            <div class="rating">
              <p class="text-center" id="labelRating">Rating artikel ini</p>
              <div class="star text-center">
                <i class="fa-regular fa-star" onclick="confirmRating(1)"></i>
                <i class="fa-regular fa-star" onclick="confirmRating(2)"></i>
                <i class="fa-regular fa-star" onclick="confirmRating(3)"></i>
                <i class="fa-regular fa-star" onclick="confirmRating(4)"></i>
                <i class="fa-regular fa-star" onclick="confirmRating(5)"></i>
              </div>

              <p class="text-center mt-2">
                <a href="" class="text-danger text-decoration-none" data-bs-toggle="modal" data-bs-target="#modalReport">
                  <i class="fa-solid fa-circle-exclamation me-2"></i>Laporkan
                  konten ini</a>
              </p>

              <!-- Bootstrap Modal -->
              <div class="modal fade" id="ratingConfirmationModal" tabindex="-1" aria-labelledby="ratingConfirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="row">
                        <div class="col">
                          <h5 class="modal-title" id="ratingConfirmationModalLabel">Konfirmasi Penilaian</h5>
                        </div>
                        <div class="col text-end">
                          <p class="text-muted"><small><span class="text-danger">*</span> Penilaian hanya dapat diberikan 1 kali</small></p>
                        </div>
                      </div>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Apakah Anda yakin ingin memberikan rating <span id="ratingValue"></span> bintang?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-primary text-warning" style="border-radius: 20px;" data-bs-dismiss="modal">Batal</button>
                      <button type="button" class="btn text-white" style="border-radius: 20px;background-color: #1c2252;" onclick="rateArticle()">Ya, Beri Rating</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- check reported and rated artikel -->
              <script>
                // Assuming you have the user's rating and report data
                const userRating = `<%- JSON.stringify(userRating)%>`;
                console.log("userRating : ", userRating);

                // Find the start and end indices of the "nilai" value
                const startRateValue = userRating.indexOf('"nilai":') + 8;
                const endRateValue = userRating.indexOf(',', startRateValue);

                // Extract the "nilai" value
                const nilaiRate = userRating.substring(startRateValue, endRateValue);

                console.log("Nilai nilaiRate:", nilaiRate);

                // Assuming you have the user's rating and report data
                const userHasReported = `<%- JSON.stringify(userReported)%>`;
                console.log("userHasReported : ", userHasReported);

                // Find the start and end indices of the "alasan" value
                const startAlasan = userHasReported.indexOf('"alasan":') + 9;
                const endAlasan = userHasReported.indexOf(',', startAlasan);

                // Extract the "alasan" value
                const alasanArray = userHasReported.substring(startAlasan, endAlasan).split(',');

                console.log("Alasan array:", alasanArray);

                $(document).ready(function() {
                  // Disable the report button if the user has reported this article
                  if (userHasReported !== '[]') {
                    $("#modalReport button.btn-primary").prop("disabled", true);
                    // mengisi text area dengan alasan user
                    $("#alasan").val(alasanArray[0]);
                    console.log("alasan user : ", alasanArray[0]);
                    // menjadikan textarea menjadi readonly dan berwarna abu
                    $("#alasan").prop("readonly", true);
                    $("#alasan").addClass("bg-light");
                    $("#alasan").addClass("text-muted");
                    // ganti label pada textarea
                    $("#alasanLabel").text("Anda telah melaporkan konten ini, alasan pelaporan :");
                    console.log("User has reported this article");
                  }

                  // show rating if the user has rated this article
                  if (userRating !== '[]') {
                    // tampilkan bintang sesuai dengan rating user
                    for (let i = 0; i < parseInt(nilaiRate); i++) {
                      $(".star i").eq(i).addClass("fa-solid");
                    }
                    // disable button rating
                    disableRating();
                    // change label to show that user has rated this article
                    $("#labelRating").text("Anda telah memberikan rating ");
                    console.log("User has rated this article");
                  }
                })
              </script>


              <script>
                function confirmRating(starIndex) {
                  // Set rating value in the modal
                  document.getElementById("ratingValue").textContent =
                    starIndex;
                  // Show the modal
                  var modal = new bootstrap.Modal(
                    document.getElementById("ratingConfirmationModal")
                  );
                  modal.show();
                }

                function rateArticle() {
                  // Get the selected rating
                  var starIndex = parseInt(
                    document.getElementById("ratingValue").textContent
                  );
                  const stars = document.querySelectorAll(".star i");
                  for (let i = 0; i < stars.length; i++) {
                    if (i < starIndex) {
                      stars[i].classList.add("fa-solid");
                      stars[i].classList.add("fa-star");
                    } else {
                      stars[i].classList.remove("fa-solid");
                    }
                  }
                  // Disable further clicks after rating
                  disableRating();
                  // Close the modal
                  var modal = bootstrap.Modal.getInstance(
                    document.getElementById("ratingConfirmationModal")
                  );
                  modal.hide();
                }

                function disableRating() {
                  const stars = document.querySelectorAll(".star i");
                  for (let i = 0; i < stars.length; i++) {
                    stars[i].removeAttribute("onclick");
                  }
                }
              </script>
              <p class="text-center">Created by Kelompok 3 KKP Batch 4</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal report -->
  <div class="modal fade" id="modalReport" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Laporkan Artikel</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="reportForm">
            <div class="mb-3">
              <label for="alasan" id="alasanLabel" class="form-label">Alasan Pelaporan</label>
              <textarea class="form-control" id="alasan" rows="3" placeholder="Tuliskan alasan mengapa Anda melaporkan artikel ini..."></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Batal</button>
          <button type="button" class="btn btn-primary" onclick="reportArticle()">Laporkan</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Animasi Loading -->
  <div id="loadingOverlay" class="overlay d-none">
    <div class="spinner-border text-1c0c41" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <script src="/resources/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/resources/bootstrap/js/bootstrap.min.js"></script>
  <script src="/resources/js/main.js"></script>

  <script>
    // Fungsi untuk menyembunyikan semua modal yang aktif
    function hideAllModals() {
      var modals = document.querySelectorAll('.modal');
      modals.forEach(function(modal) {
        var bootstrapModal = bootstrap.Modal.getInstance(modal);
        if (bootstrapModal) {
          bootstrapModal.hide();
        }
      });
    }

    // Fungsi untuk menutup modal-backdrop secara manual
    function closeBackdrop() {
      var backdrop = document.querySelector('.modal-backdrop');
      backdrop.parentNode.removeChild(backdrop);
    }

    // Fungsi untuk mendapatkan ID artikel dari URL
    function getArtikelIdFromUrl() {
      const url = window.location.href;
      const parts = url.split('/');
      const idArtikel = parts[parts.indexOf('artikel') + 1];

      console.log("ID artikel:", idArtikel);
      if (!isNaN(idArtikel)) {
        return idArtikel;
      } else {
        console.error("ID artikel tidak valid.");
        return null;
      }
    }
    // AJAX untuk memberikan rating artikel
    function rateArticleAjax(artikelId, ratingValue, token) {
      // Menampilkan animasi loading
      $("#loadingOverlay").removeClass("d-none");
      hideAllModals();
      closeBackdrop();
      $.ajax({
        url: `http://localhost:3000/api/v1/artikel/rate/${artikelId}`,
        type: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${token}`
        },
        data: JSON.stringify({
          "nilai": ratingValue
        }),
        success: function(data) {
          console.log("Data dari server (success):", data);
          if (data.success) {
            $("#viewArtikelAlert")
            .text(data.message)
            .removeClass("d-none")
            .removeClass("alert-danger")
            .css("background-color", "#28a745");
          } else {
            const Message = data.message;
            const error = data.error;
            const errorMessage = error ? Message + error : Message;
            console.error("error:", errorMessage);
            $("#viewArtikelAlert").text(errorMessage).removeClass("d-none");
          }
        },
        error: function(xhr, status, error) {
          const errorData = xhr.responseJSON ?
            xhr.responseJSON :
            "failed. Please try again later.";
          console.error("error:", errorData);
          console.error("Data dari server (error):", errorData);

          if (errorData.error) {
            $("#viewArtikelAlert")
              .html(
                `<i class="fas fa-exclamation-triangle"></i> ${errorData.message} Error: ${errorData.error}`
              )
              .removeClass("d-none");
            console.error("ini jalan if atas 1");
          } else {
            $("#viewArtikelAlert")
              .html(
                `<i class="fas fa-exclamation-triangle"></i> ${errorData.message}`
              )
              .removeClass("d-none");
            console.error("ini jalan else bawah 1");
          }
        },
        complete: function(xhr, status) {
          if (status === "success") {
            setTimeout(function() {
              // Hapus kelas 'd-none' untuk memunculkan spinner selama 3 detik jika berhasil
              $("#loadingOverlay").removeClass("d-none");
              setTimeout(function() {
                $("#loadingOverlay").addClass("d-none");
              }, 5000);
            }, 0); // Timeout 0 ms agar dijalankan setelah penyelesaian AJAX
          } else {
            // Hapus kelas 'd-none' untuk memunculkan spinner selama 1 detik jika gagal
            setTimeout(function() {
              $("#loadingOverlay").removeClass("d-none");
              setTimeout(function() {
                $("#loadingOverlay").addClass("d-none");
              }, 500);
            }, 0);
          }
        },
      });
    }

    // AJAX untuk melaporkan artikel
    function reportArticleAjax(artikelId, alasan, token) {
      // Menampilkan animasi loading
      $("#loadingOverlay").removeClass("d-none");
      hideAllModals();
      closeBackdrop();
      $.ajax({
        url: `http://localhost:3000/api/v1/artikel/report/${artikelId}`,
        type: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${token}`
        },
        data: JSON.stringify({
          "alasan": alasan
        }),
        success: function(data) {
          console.log("Data dari server (success):", data);
          if (data.success) {
            $("#viewArtikelAlert")
            .text(data.message)
            .removeClass("d-none")
            .css("background-color", "#28a745");
          } else {
            const Message = data.message;
            const error = data.error;
            const errorMessage = error ? Message + error : Message;
            console.error("error:", errorMessage);
            $("#viewArtikelAlert").text(errorMessage).removeClass("d-none");
          }
        },
        error: function(xhr, status, error) {
          const errorData = xhr.responseJSON ?
            xhr.responseJSON :
            "failed. Please try again later.";
          console.error("error:", errorData);
          console.error("Data dari server (error):", errorData);
          if (errorData.error) {
            $("#viewArtikelAlert")
              .html(
                `<i class="fas fa-exclamation-triangle"></i> ${errorData.message} Error: ${errorData.error}`
              )
              .removeClass("d-none");
            console.error("ini jalan if atas 1");
          } else {
            $("#viewArtikelAlert")
              .html(
                `<i class="fas fa-exclamation-triangle"></i> ${errorData.message}`
              )
              .removeClass("d-none");
            console.error("ini jalan else bawah 1");
          }
        },
        complete: function(xhr, status) {
          if (status === "success") {
            setTimeout(function() {
              // Hapus kelas 'd-none' untuk memunculkan spinner selama 3 detik jika berhasil
              $("#loadingOverlay").removeClass("d-none");
              setTimeout(function() {
                $("#loadingOverlay").addClass("d-none");
              }, 5000);
            }, 0); // Timeout 0 ms agar dijalankan setelah penyelesaian AJAX
          } else {
            // Hapus kelas 'd-none' untuk memunculkan spinner selama 1 detik jika gagal
            setTimeout(function() {
              $("#loadingOverlay").removeClass("d-none");
              setTimeout(function() {
                $("#loadingOverlay").addClass("d-none");
              }, 500);
            }, 0);
          }
        },
      });
    }
    // Fungsi untuk melakukan konfirmasi rating dan memanggil AJAX
    function rateArticle() {
      const starIndex = parseInt(
        document.getElementById("ratingValue").textContent
      );
      const artikelId = getArtikelIdFromUrl(); // Menggunakan fungsi untuk mendapatkan ID artikel dari URL
      const token = "<%= token %>"; // Ganti dengan token yang sesuai
      console.log("token:", token);
      rateArticleAjax(artikelId, starIndex, token);
    }

    // Fungsi untuk melakukan konfirmasi pelaporan dan memanggil AJAX
    function reportArticle() {
      const alasan = document.getElementById("alasan").value.trim();
      if (alasan === "") {
        alert("Harap isi alasan pelaporan.");
        return;
      }
      const artikelId = getArtikelIdFromUrl(); // Menggunakan fungsi untuk mendapatkan ID artikel dari URL
      const token = "<%= token %>"; // Ganti dengan token yang sesuai
      console.log("token:", token);
      reportArticleAjax(artikelId, alasan, token);
    }
  </script>
</body>

</html>